
.container {
    width: 900px; /* Small box width */
    padding: 20px;
    margin: 50px auto; /* Centers the container horizontally */
    border: 1px solid #ddd; /* Optional border for visibility */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for style */
    position: relative; /* So the image can be positioned relative to this */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; Align h2 and p tags to the left */
  }
  
  .header {
    text-align: center;
    width: 100%; /* Ensures h1 spans the width of the container */
    margin-bottom: 10px;
  }
  
  .picture {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
    object-fit: cover;
    position: absolute; /* Position relative to the container */
    top: 25px;
    right: 10px; /* Aligns the picture to the top-right corner */
    animation: float 4s ease-in-out infinite;
  }
  
/* .picture {
    animation: float 4s ease-in-out infinite;
  } */
  
  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }
  
  
  h2 {
    margin-bottom: 5px;
  }
  
  p {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  a {
    margin-bottom: 5px;
  }
  
  h3 {
    margin-top: 5px; /* Space between links and next section */
  }
  
  .icon-container {
    display: flex;
    gap: 10px; /* This controls the spacing between the icons */
  }
  


  @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}